<h1>Comme des canards</h1>

<ul id="canards" data-update-url="<%= sort_canards_url %>" class="nom_canard">
	<% @canards.each do |canard| %>
		  <%= content_tag_for :li, canard, class: 'nom_canard_element' do %>
		    <%= link_to h(canard.nom), canard %>
		  <% end %>
	<% end %>
</ul>

<%= link_to "Créer un canard", controller: "canards", action: "new" %>

