// Place all the styles related to the canard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.nom_canard {
	list-style-type: none;
		cursor: move;
}

.nom_canard_element{
	margin-top: 10px;
	}